*{
	margin:0px;
	padding:0px;

}
body{
	
	background:black;
	height:700px;
	width:900px;
	margin:0 auto;
	box-sizing:border-box;
	
}
#header{
	background:white;
	height:150px;
	width:100%;
}
#header1{
	background:#99004d;
	height:150px;
	width:100%;
}
#navy{
	background:black;
	height:35px;
	width:100%;
}
#container{
	height:550px;
	width:100%;
	background:white;
}
#container1{
	height:550px;
	width:100%;
	background:white;
}
#footer{
	height:35px;
	width:100%;
	background:grey;
	line-height:35px;
}
#left{
	height:100%;
	width:40%;
	float:left;
	background: #ff80aa;
}
#right{
height:550px;
	width:60%;
	float:right;  
	background:#e6b3cc;	
}
#navul li{
	list-style-type:none;
	display:inline;
	padding-left:20px;
	padding-right:20px;
	line-height:30px;
}
#navul li a{
	text-decoration:none;
	color:white;
	
}
#navul li a:hover{
	text-decoration:underline;
	color:#FFFF00;
	padding-bottom:5px;
	}
#logotxt{
	width:15%;
	height:100%;
	float:left;
	background:white;
	background-repeat:no-repeat;
	background-position:center center;
	-webkit-background-size:cover;
	background-size:cover;
	padding-top:0px;
	padding-bottom:0px;
	padding-left:0px;
	padding-right:0px;
	box-sizing: border-box;
}
#logo{
	width:85%;
	height:100%;
	float:right;
}
#imglogo{
	
	padding-left:20px;
	
}
#lab2img{
	 padding-left:250px;
}
p{
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
	padding-bottom:10px;
}
p.p1{
	padding-left:20px;
	padding-right:20px;
	padding-top:10px;
	padding-bottom:20px;
}
#labimg{
	padding-left:40px;
	padding-right:10px;
	padding-top:65px;
	padding-bottom:10px;
}
#hodimg{
	padding-left:88px;
	padding-right:10px;
	padding-top:20px;
	padding-bottom:10px;
}
 h1.cl{
	padding-top:30px;
	padding-left:15px;
	font-family:Edwardian Script ITC;
	font-size:72px;
}
#nav li{
	list-style-type:none;
	padding-left:30px;
	padding-right:10px;
	padding-top:40px;
	padding-bottom:10px;
}
#ls{
	
	height:100%;
	width:20%;
	float:left;
	background: #ff80aa;
}
#rt{
	
height:100%;
	width:80%;
	float:right;  
	background:white;	
}
#naul li a{
	text-decoration:none;
}
#naul li a:hover{
	text-decoration:underline;
	color:#FFFF00;
	padding-bottom:5px;
	}