<html>
<head>
 <title>vinitha</title>
 <link rel="stylesheet" type="text/css" href="ss.css">
 <script> alert("college") </script>
</head>
<body>
 <div id="header">
 <div id="logotxt">
 <img src="20.jpg"  id="imglogo">
 </div>
 <div id="logo">
	 <h1 style="color:#008000; text-align:center; size=15px">RMK COLLEGE OF ENGINEERING AND TECHNOLOGY</h1>
	<h3 style="color:#A52A2A; text-align:center; size:10px;"> R.S.M Nagar,Puduvoyal-601 206.</h3>
  <br><h2 style="color:	#0099e6; text-align:center; font-family:Algerian; font-size:28px">COMPUTER SCIENCE AND ENGINEERING DEPARTMENT</h2><br>
 </div>
 
 </div>
 <div id="navy">
 <ul id="navul">
	<li><a href="#">Home</a></li>
	<li><a href="http://www.xenioz2k16.in">Events</a></li>	
	<li><a href="prog.html">Go programming</a></li>
	<li><a href=" login.html">Progress</a></li>
	<li><a href="form.html">Follow</a></li>
	<li><a href="#">Discussion forum</a></li>
	<li><a href="#">Campus details</a></li>
	<li><a href="aboutus.html">About</a></li>
	</ul>
 </div>
 <div id="container">
	<div id="left">
	<img src="lab.jpg"  id="labimg">
	<img src="hod1.jpg"  id="hodimg">
	<p align="center" style="color:black" >
Name: Dr. Paulraj D <br>
Designation: Professor & Head <br>
Qualification: B.E., M.E., Ph.D.,MISTE</p>
	</div>
	<div id="right">
	<marquee style="color:black; font-family:Harlow Solid Italic; font-size:20px" scrollamount="5"><br><br><b><i>*Trending:XENIOZ2K16 - register and participate in  our fest...!!      *Internal assesment-II commences on 08.03.2017.       *Follow to  know your progress and get updates on events and tutorials. <br><br></marquee>
	<p align="center" class="style14" style="color:#000066; font-size:15px; font-family:Lucida Calligraphy">About  the Department</p> 
                              <p align="justify">The Department of Computer Science and  Engineering was started in the academic year 2008-2009. The department has  highly qualified and dynamic faculty members specialized in advanced areas. The  department has good infrastructure and it imparts high quality education&nbsp; structured to meet the present day needs. The CSE Students Association <strong>XENIOZ</strong> organizes  activities like Paper Presentation, Project Display and Technical Quiz.</p> 
                              <p align="justify">&nbsp;</p> 
                              <p align="center" class="style14" style="color:#000066; font-size:15px; font-family:Lucida Calligraphy>Vision </p> 
                              <p align="justify"> To provide an academically conductive environment  for students to reach their full potential in computer science and engineering,  thereby inculcating an affinity for lifelong educational renewal and preparing  them to face the challenges of the modern high tech society with human values  and ethics.</p> 
                             

	</div>
 </div>
 
 <div id="footer">
 <center>
  Copyright &copy; 2016 | Designed By Vinitha shree, Umaa mahesswari, Ramya.
 </center>
 </div>
</body>
</html>
